body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

H1{
    color: orange;
}

.caixa-principal{
    background-color: grey;
    width: 90%;
    text-align: center;
    padding: 20px;
}










